@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
	text-align: center;
	max-width: 49rem;
	min-width: 49rem;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.super-center {
	display: grid;
	align-items: center;
}

.pop-up-container {
	width: fit-content;
	border-radius: 5px;
	padding: 5px;
}

.quanlh-copy-button {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 3px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	border: 1px solid #e5e5e5;
	opacity: 0.8;
	span {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}

.quanlh-d-none {
	display: none !important;
}

.quanlh-super-center {
	display: grid;
	place-items: center;
}

.quanlh-copy-success {
	& svg {
		color: #3fb950;
		fill: currentColor;
	}
}
